{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="d-flex vh-100">
  <div id="sidebar" class="sidebar open">
      <div class="d-flex flex-column px-3 py-2 border-bottom">
          <h3 class="brand-title mb-2">Matador Regulation</h3>
          <input type="text" id="filterInput" class="form-control filter-input" placeholder="Filter">
      </div>

    <div class="p-3">
      <h5 class="menu-header ms-2 d-flex justify-content-between align-items-center"
          data-bs-toggle="collapse" data-bs-target="#mufredatMenu">Müfredat İçeriği<span class="arrow">▼</span>
      </h5>

      <div class="collapse" id="mufredatMenu">
        <ul class="list-unstyled ms-4">
          <li><a href="#" class="menu-link" data-target="m1">Yeni Üyelere Deneme Bonusu İlk Yatırım Bonusu</a></li>
          <li><a href="#" class="menu-link" data-target="m2">Yatırım Gelmeyen Üyeler</a></li>
          <li><a href="#" class="menu-link" data-target="m3">Çekim İşlemlerinin Kontrolleri İptalleri ve Düzenlemeleri</a></li>
          <li><a href="#" class="menu-link" data-target="m4">Çekim Protokolleri ve Limitleri</a></li>
          <li><a href="#" class="menu-link" data-target="m5">Çevirim Hesaplama ve Sağlayıcılar</a></li>
          <li><a href="#" class="menu-link" data-target="m6">Kural Dışı Katılımlar ve Cezalar</a></li>
          <li><a href="#" class="menu-link" data-target="m7">Hesap Doğrulama ve İsim/Soy İsim Güncellemesi</a></li>
          <li><a href="#" class="menu-link" data-target="m8">Hesabına Giriş Yapamayan Üyeler</a></li>
          <li><a href="#" class="menu-link" data-target="m9">Telegram Kanallarının Takibi</a></li>
          <li><a href="#" class="menu-link" data-target="m10">Teknik Sorunlar ve Çözümler</a></li>
            <li><a href="#" class="menu-link" data-target="m11">GSM ve MAIL Güncelleme</a></li>
            <li><a href="#" class="menu-link" data-target="m12">Hesap Kapatma Protokolleri</a></li>
            <li><a href="#" class="menu-link" data-target="m13">Bahis Kontrolü ve Bahis Sözlüğü</a></li>
            <li><a href="#" class="menu-link" data-target="m14">Kazancı Yansımayan Üyelerin Oyun Kont İşlemi</a></li>
            <li><a href="#" class="menu-link" data-target="m15">Anlik ve Haftalık Kayıp Bonusu</a></li>
            <li><a href="#" class="menu-link" data-target="m16">Admin Panel Kullanımı.</a></li>
            <li><a href="#" class="menu-link" data-target="m17">Kaybeden Üyeler İle İletişim</a></li>
            <li><a href="#" class="menu-link" data-target="m18">Güvenlik Protokolleri</a></li>
            <li><a href="#" class="menu-link" data-target="m19">Chatte Operatörün Görev ve Sorumlulukları</a></li>
        </ul>
      </div>

        <h5 class="menu-header ms-2 mt-3 d-flex justify-content-between align-items-center"
            data-bs-toggle="collapse" data-bs-target="#BonusMenu">Bonuslar<span class="arrow">▼</span>
        </h5>

        <div class="collapse" id="BonusMenu">
            <ul class="list-unstyled ms-4">
                <li><a href="#" class="menu-link" data-target="b1">%100 2.000TL FREESPİN - Gates Of Olympus SUPER SCATTER BONUSU</a></li>
                <li><a href="#" class="menu-link" data-target="b2">%100 1000TL BONUS BUY - Sweet Bonanza SUPER SCATTER BONUSU </a></li>
                <li><a href="#" class="menu-link" data-target="b3">YENİ ÜYELERE ÖZEL DENEME BONUSU</a></li>
                <li><a href="#" class="menu-link" data-target="b4">%200 10.000 TL Hoş Geldin Bonusu</a></li>
                <li><a href="#" class="menu-link" data-target="b5">0 ÇEVRİM %10 LİMİTSİZ Yatırım Bonusu</a></li>
                <li><a href="#" class="menu-link" data-target="b6">Her ayın 15'i ve 16'sı %50 5.000 TL Yatırım Bonusu</a></li>
                <li><a href="#" class="menu-link" data-target="b7">%100 HER GÜN NAKİT 2000TL BONUSU</a></li>
                <li><a href="#" class="menu-link" data-target="b8">%100 UÇURAN NAKİT BONUSU</a></li>
                <li><a href="#" class="menu-link" data-target="b9">Çarşamba ve Perşembe Günlerine  %25 Yatırım Bonusu + %25 Freespin BONUSU</a></li>
                <li><a href="#" class="menu-link" data-target="b10">%25 LİMİTSİZ YATIRIM  BONUSU</a></li>
                <li><a href="#" class="menu-link" data-target="b11">%30 CRYPTO YATIRIM BONUSU</a></li>
                <li><a href="#" class="menu-link" data-target="b12">1000 X ÇARPAN BONUSU</a></li>
                <li><a href="#" class="menu-link" data-target="b13">DOĞUM GÜNÜ BONUSU</a></li>
                <li><a href="#" class="menu-link" data-target="b14">FESTİVAL FREESPİNLERİ</a></li>
                <li><a href="#" class="menu-link" data-target="b15">HAFTALIK KAYIP BONUS</a></li>
                <li><a href="#" class="menu-link" data-target="b16">ANLIK KAYIP BONUS</a></li>
                <li><a href="#" class="menu-link" data-target="b17">0 RİSK %100 İADE BONUSU</a></li>
                <li><a href="#" class="menu-link" data-target="b18">ARKADAŞINI GETİR  BONUSU</a></li>

            </ul>
        </div>


      <div class="mt-4">
        <a class="btn btn-outline-danger w-100" href="{% url 'logout' %}">Çıkış Yap</a>
      </div>
    </div>
  </div>

  <button id="toggleBtn" class="toggle-btn">
    <span id="toggleIcon">«</span>
  </button>

  <button id="themeToggle" class="btn btn-sm btn-outline-secondary position-absolute top-0 end-0 m-3">
      🌙 / ☀️
  </button>

  <div class="flex-grow-1 p-4">
    <div class="content-wrapper">
      <div id="m1" class="content d-none"><h2>Yeni Üyelere Deneme Bonusu İlk Yatırım Bonusu</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus...</p></div>
      <div id="m2" class="content d-none"><h2>Yatırım Gelmeyen Üyeler</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus...</p></div>
      <div id="m3" class="content d-none"><h2>Çekim İşlemlerinin Kontrolleri İptalleri ve Düzenlemeleri</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus...</p></div>
      <div id="m4" class="content d-none"><h2>Çekim Protokolleri ve Limitleri</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus...</p></div>
      <div id="m5" class="content d-none">
          <h2>Çevirim Hesaplama ve Sağlayıcılar</h2><p>
          Sitede yatırım ve bonuslu yatırımların katılımlarının hesaplamaları mevcuttur. Altta yer alan başlıklarda<br>
          bonuslu ve bonussuz çevirim hesaplamalarıyla beraber bazı çevirim tagleri belirtilmektedir.<p>
          <h4>1. APC (Ana Para Çevirimi) Hesaplama</h4>
          Site kuralları gereğince yatırım yapan ve sadece yatınım ile katılım yapan üyeler yatırımları kadar oyun oynamak<br>
          zorundadırlar. Temel çevirim kuralları doğrultusunda çevirim yapmalan gerekir ve kural dışı katılımlar çevirime<br>
          dahil olmaz.
          <p></p>
          <h5>1.1 Sporda Çevirim Kurali</h5>
          <p></p>
          <p>1. Sporda katılımların sayılabilmesi için minimum çevirim oranı 1.30 ve üzeri bahislerdir.<p>
          <p>2. Tekli veya kombine şartı yoktur.<p>
          <p>3. İptal edilen ve iade edilen bahisler çevirime dahil olmamaktadır.<p>
          <p>4. Çapraz bahis yasaktır ve çevirime dahil olmaz, elde edilen kazanç sıfırlanır.<p>
          <p>5. Süre açığı ile oluşturulan bahisler çevirime dahil olmaz ve elde edilen kazanç sıfırlanır.<p>
          <p></p>
          <h5>1.2 Slot ve Uçak Oyunlarında Çevirim Kuralları.</h5>
          <p></p>
          <p>1. Slot alanı çevirime dahil olan bölümlerden bir tanesidir.<p>
          <p>2. Uçak ve türevi, çarpanlı oyun kategorisinde çarpan kuralı mevcuttur. x1.50 altı bozdurulan bahisler çevirime dahil değildir.<br>
          (Bonuslu ve Bonussuz katılımlar için geçerlidir.)<p>
          <p>3. Minimum çarpan altında bozdurulan çevirimler katılıma dahil değildir.
          <p>4. Slot lobisin de yer alan Hacksaw Sağlayıcısnın Baccarat oyunu çevirime dahil olmamaktadır.
          <p>5. Slot lobisin de yer alan Black Jack ve Rulet oyunları da çevirime dahil olmamaktadır.
          <p></p>
          <h5>1.3 Canlı Casino ve Gösteri Oyunlar Çevirim Kuralları.</h5>
          <p></p>
          <p>1. Gösteri oyunlarının hiç biri çevirime dahil değildir.<p>
          <p>2. Gösteri oyunlarına sadece APC ve bonus çevirimi sona erdiğinde katılım yapılabilir.<p>
          <p>3. Gösteri oyunlarına çevirim bitmeden yapılan katılımlar çevirime dahil olmaz ve kazanılan miktar düzenlenir.
          <ul>
              <li><p><h6> Casino Oyunlarının Bonuslu Yatırıma Katkısı Aşağıdaki Gibidir</h6></p></li>
              <li><p>%100 Rulet</p></li>
              <li><p>%50 BlackJack</p></li>
              <li><p>%100 Holdem</p></li>
              <li><p>%0 Diğer Canlı Casino Oyunlan</p></li>
          </ul>
      </p></div>
      <div id="m6" class="content d-none"><h2>Kural Dışı Katılımlar ve Cezalar</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus...</p></div>
      <div id="m7" class="content d-none"><h2>Hesap Doğrulama ve İsim/Soy İsim Güncellemesi</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus...</p></div>
      <div id="m8" class="content d-none"><h2>Hesabına Giriş Yapamayan Üyeler</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus...</p></div>
      <div id="m9" class="content d-none"><h2>Telegram Kanallarının Takibi</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus...</p></div>
      <div id="m10" class="content d-none"><h2>Teknik Sorunlar ve Çözümler</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus...</p></div>
      <div id="m11" class="content d-none"><h2>GSM ve MAIL Güncelleme</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus...</p></div>
      <div id="m12" class="content d-none"><h2>Hesap Kapatma Protokolleri</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus...</p></div>
      <div id="m13" class="content d-none"><h2>Bahis Kontrolü ve Bahis Sözlüğü</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus...</p></div>
      <div id="m14" class="content d-none"><h2>Kazancı Yansımayan Üyelerin Oyun Kont İşlemi</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus...</p></div>
      <div id="m15" class="content d-none"><h2>Anlık ve Haftalık Kayıp Bonusu</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus...</p></div>
      <div id="m16" class="content d-none"><h2>Admin Panel Kullanımı</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus...</p></div>
      <div id="m17" class="content d-none"><h2>Kaybeden Üyeler İle İletişim</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus...</p></div>
      <div id="m18" class="content d-none"><h2>Güvenlik Protokolleri</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus...</p></div>
      <div id="m19" class="content d-none"><h2>Chatte Operatörün Görev ve Sorumlulukları</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus...</p></div>

      <div id="b1" class="content d-none">
          <h2>%100 2.000TL FREESPİN - Gates Of Olympus SUPER SCATTER BONUSU</h2><p></p>
          <h4>BONUS DETAYI</h4><p></p>
          <ul>
              <li>Her Kullanıcı Günde 1 Defa Bu Bonustan Yararlanabilir.</li><p></p>
              <li>20 TL Bet değerinden 100 Adet Freespin eklemesi sağlanmaktadır.</li><p></p>
              <li>Mininimum / Maksimum 2000 TL yatırıma eklenmektedir yalnızca.</li><p></p>
          </ul>
          <h4>ÇEVRİM VE ÇEKİM DETAY</h4><p></p>
          <ul>
              <li>Yalnızca Freespin kazancının 25 katı slot alanında çevrim şartı mevcut olmaktadır.</li><p></p>
              <li>İlgili bonus ile maksimum 10.000 TL Çekim işlemi sağlanabilmektedir.</li>
          </ul>
      </div>
      <div id="b2" class="content d-none">
          <h2>%100 1000TL BONUS BUY - Sweet Bonanza SUPER SCATTER BONUSU</h2><p></p>
          <h4>BONUS DETAYI</h4><p></p>
          <ul>
              <li>Her Kullanıcı Günde 1 Defa Bu Bonustan Yararlanabilir.</li><p></p>
              <li>1000 TL Değerinde direkt olarak satın alım (BUY) Olarak eklenmektedir.</li><p></p>
              <li>Minimum / Maksimum 1000 TL yatırıma eklenmektedir yalnızca.</li><p></p>
          </ul>
          <h4>ÇEVRİM VE ÇEKİM DETAY</h4><p></p>
          <ul>
              <li>Yatırım + Buy kazancının 20 katı Slot alanında çevrim şartı olmaktadır. (Örnek: Satın alım üzerinden 850 TL kazanç elde<br>
                  eden üyenin çevrimi = 1000TL yatırım + 850 TL buy kazancı = 1850 TL toplamı 1850 X 20 = 37.000 TL Slot alanında çevrimini<br>
                  tamamlaması ardından çekim sağlayabilir.)</li><p></p>
              <li>İlgili bonus ile maksimum 10.000 TL Çekim işlemi sağlanabilmektedir.</li>
          </ul>
      </div>
      <div id="b3" class="content d-none">
          <h2>YENİ ÜYELERE ÖZEL DENEME BONUSU</h2><p></p>
          <h4>BONUS DETAYI</h4><p></p>
          <ul>
              <li>İlgili bonus yalnızca sitemize kayıt olan yeni üyelerimize özel olmaktadır.</li><p></p>
              <li>Deneme Bonusumuz canlı destek hattı üzerinden eklenmemektedir.</li><p></p>
              <li>Üyeliğini oluşturmuş ve Sms aktivasyonunu gerçekleştirmiş üyelerimize otomatik olarak eklenmektedir.</li><p></p>
              <li>İP HAVUZUNDA farklı bir üyelik olan üyelere eklemesi sağlanmamaktadır.</li>
              <li>1000 TL olarak ekleme sağlanmaktadır.</li>
          </ul>
          <h4>ÇEVRİM VE ÇEKİM DETAY</h4><p></p>
          <ul>
              <li>İlgili bonusumuzun çevrim şartı mevcut olmamaktadır. 1000TL bakiyesini dilediği alanda kısıtlama ve kural mevcut olmadan<br>
                  katılım sağlayarak 10.000TL yapan üyemiz 500TL, 15.000TL yapan üyemiz 750TL çekim sağlayabilir.</li><p></p>
              <li>Deneme bonusumuz yalnızca Havale veya Papara Yöntemleri ile çekim sağlanabilir.</li>
          </ul>
      </div>
      <div id="b4" class="content d-none">
          <h2>%200 10.000 TL Hoş Geldin Bonusu</h2><p></p>
          <h4>BONUS DETAYI</h4><p></p>
          <ul>
              <li>Sitemize ilk ve ikinci  yatırımını sağlayacak olan üyeler için geçerli olmaktadır. İlk yatırım esnasında üyeler yatırım<br>
                  sayfası üzerinden yatırım esnasında seçebilirler. İkinci yatırımlarında ise canlı Destek hattımıza bağlanarak talep etmeleri<br>
                  ve Canlı Destek üzerinden manuel eklemesi sağlanması gerekmektedir.</li><p></p>
              <li>İlk yatırımında farklı bir bonus alımı sağlayan üye ikinci yatırımında ilgili bonustan yararlanamaz maalesef.</li><p></p>
              <li>İlk yatırıma %100 olarak eklenmektedir. İkinci yatırıma %100 olarak toplamda iki yatırıma %200 Olarak ekleme sağlanmaktadır.</li><p></p>
              <li>İİlgili bonusumuzdan yararlanan üyeler Kayıp Bonus Hakkı mevcut olmamaktadır.</li>
          </ul>
          <h4>ÇEVRİM VE ÇEKİM DETAY</h4><p></p>
          <ul>
              <li>Slot alanında : Yalnızca Bonusun 40 Katı olmaktadır.</li><p></p>
              <li>Spor alanında Yalnızca Bonusun 15 Katı Kombine minimum 1.70 orandan bahis alınmalıdır.</li><p></p>
              <li>Uçak alanında : Yalnızca Bonusun 60 Katı olmaktadır.</li><p></p>
              <li>Bu bonus ile çekilebilecek maksimum tutar yatırımın  25 katı veya 50.000TL olmaktadır.</li>
          </ul>
      </div>
      <div id="b5" class="content d-none">
          <h2>0 ÇEVRİM %10 LİMİTSİZ Yatırım Bonusu</h2><p></p>
          <h4>BONUS DETAYI</h4><p></p>
          <ul>
              <li>Gün içerisinde dilediği kadar yararlanabilir üyelerimiz ilgili bonustan.</li><p></p>
              <li>Yatırım tutarının %10'u kadar ekleme sağlanmaktadır.</li><p></p>
              <li>İlgili bonustan yararlanan üyelerin KAYIP BONUS Hakkı mevcut olmaktadır.</li><p></p>
          </ul>
          <h4>ÇEVRİM VE ÇEKİM DETAY</h4><p></p>
          <ul>
              <li>Slot alanında : Yatırım + Bonus tutarının 1 Katı olmaktadır</li><p></p>
              <li>Spor alanında : Yatırım + Bonus tutarının Kombine minimum 2 müsabakasının 1.50 oran olması şartı ile 2 Katı olmaktadır.</li><p></p>
              <li>Uçak alanında : Yatırım + Bonus tutarının 1 Katı olmaktadır.</li><p></p>
              <li>Maksimum çekim tutarı Yatırım tutarının 25 Katı veya maksimum 250.000 TL olmaktadır.</li>
          </ul>
      </div>
      <div id="b6" class="content d-none">
          <h2>Her ayın 15'i ve 16'sı %50 5.000 TL Yatırım Bonusu</h2><p></p>
          <h4>BONUS DETAYI</h4><p></p>
          <ul>
              <li>İlgili bonusumuz yalnızca Ayın 15'i ve 16'sı aktif olmaktadır.</li><p></p>
              <li>Yatırımın %50'si olarak ekleme sağlanmaktadır 15 ve 16'sı günlerinde birer defa yararlanabilmektedir üyeler.</li><p></p>
              <li>Maksimum 2500 TL olmak üzere toplamda 5000 TL ekleme sağlanmaktadır.</li><p></p>
              <li>İlgili bonustan yararlana üyelerin Kayıp Bonus hakkı mevcut olmamaktadır.</li><p></p>
          </ul>
          <h4>ÇEVRİM VE ÇEKİM DETAY</h4><p></p>
          <ul>
              <li>Slot alanında : Yatırım + Bonus tutarının 20 Katı olmaktadır.</li><p></p>
              <li>Spor alanında : Yatırım + Bonus tutarının 7 Katı kombine minimum 2 müsabakanın 1.50 oran olması gerekmektedir.</li><p></p>
              <li>Uçak alanında : Yatırım + bonus tutarının 20 Katı olmaktadır.</li><p></p>
              <li>İlgili Bonus ile maksimum eklene bonus tutarının 10 Katı kadar çekim sağlanılabilir.</li>
          </ul>
      </div>
      <div id="b7" class="content d-none">
          <h2>%100 HER GÜN NAKİT 2000TL BONUSU</h2><p></p>
          <h4>BONUS DETAYI</h4><p></p>
          <ul>
              <li>İlgili bonus gün içerisinde yalnızca 1 defa kullanılabilmektedir.</li><p></p>
              <li>İlgili bonusumuzu kullanan üyelerin Kayıp bonus hakkı mevcut olmamaktadır.</li><p></p>
              <li>İlgili bonus Minimum 50 TL yatırıma eklenmektedir.</li><p></p>
          </ul>
          <h4>ÇEVRİM VE ÇEKİM DETAY</h4><p></p>
          <ul>
              <li>Slot alanında : Yatırım + Bonus tutarının 30 Katı olmaktadır.</li><p></p>
              <li>Spor alanında : Yatırım + Bonus tutarının 7 Katı kombine minimum 2 müsabakanın 1.60 oran olması gerekmektedir.</li><p></p>
              <li>Uçak alanında : Yatırım + bonus tutarının 30 Katı olmaktadır.</li><p></p>
              <li>Maksimum çekim tutarı Bonus tutarının 10 Katı veya maksimum 20.000 TL olmaktadır.</li>
          </ul>
      </div>
      <div id="b8" class="content d-none">
          <h2>%100 UÇURAN NAKİT BONUSU</h2><p></p>
          <h4>BONUS DETAYI</h4><p></p>
          <ul>
              <li>İlgili bonus gün içerisinde yalnızca 1 defa kullanılabilmektedir.</li><p></p>
              <li>İlgili bonusumuzu kullanan üyelerin Kayıp bonus hakkı mevcut olmamaktadır.</li><p></p>
              <li>İlgili bonus Minimum 50 TL yatırıma eklenmektedir</li><p></p>
              <li>İlgili bonus yalnızca Uçak oyunlarında geçerli olmaktadır alandışı katılımlarda kazançlar geçersiz sayılmaktadır.</li>
          </ul>
          <h4>ÇEVRİM VE ÇEKİM DETAY</h4><p></p>
          <ul>
              <li>Yalnızca uçak alanında katılım sağlayabilir üyeler. Yatırım + Bonus tutarının 15 Katı Çevrim şartı mevcut olmaktadır.</li><p></p>
              <li>İlgili bonus ile Maksimum çekim tutarı eklenmiş olan bonus tutarının 10 Katı veya maksimum 10.000 TL olmaktadır.</li>
          </ul>
      </div>
      <div id="b9" class="content d-none">
          <h2>Çarşamba ve Perşembe Günlerine  %25 Yatırım Bonusu + %25 Freespin BONUSU</h2><p></p>
          <h4>BONUS DETAYI</h4><p></p>
          <ul>
              <li>İlgili bonus yalnızca ÇARŞAMBA - PERŞEMBE Günleri aktif olmaktadır. Üyeler her iki günde de birer defa yararlanarak<br>
                  toplamda 2 defa yararlanabilirler.</li><p></p>
              <li>İlgili bonusumuzu kullanan üyelerin Kayıp bonus hakkı mevcut olmamaktadır.</li><p></p>
              <li>İlgili bonus Minimum 100 TL yatırıma eklenmektedir.</li><p></p>
              <li>İlgili bonusta yatırıma ek olarak aynı anda %25 Nakit %25 Freespin eklemesi sağlanmaktadır.</li>
          </ul>
          <h4>ÇEVRİM VE ÇEKİM DETAY</h4><p></p>
          <ul>
              <li>İlgili bonus yalnızca Slot alanında geçerli olmaktadır Slot alanı dışında mevcut olan katılımlar geçersiz sayılmaktadır.<br>
                  Slot alanında Yatırım + Bonus Tutarının 10 Katı çevrim şartı mevcut olmaktadır. Eklenen Freespinlerin herhangi bir çevrim<br>
                  şartı mevcut olmamaktadır.</li><p></p>
              <li>Maksimum çekim tutarı Yatırım tutarının 25 Katı veya maksimum 10.000 TL olmaktadır.</li>
          </ul>
      </div>
      <div id="b10" class="content d-none">
          <h2>%25 LİMİTSİZ YATIRIM  BONUSU</h2><p></p>
          <h4>BONUS DETAYI</h4><p></p>
          <ul>
              <li>Gün içerisinde dilediği kadar yararlanabilir üyelerimiz ilgili bonustan.</li><p></p>
              <li>Yatırım tutarının %25'i kadar ekleme sağlanmaktadır.</li><p></p>
              <li>İlgili bonusumuzu kullanan üyelerin Kayıp bonus hakkı mevcut olmamaktadır.</li><p></p>
          </ul>
          <h4>ÇEVRİM VE ÇEKİM DETAY</h4><p></p>
          <ul>
              <li>Slot alanında : Yatırım + Bonus tutarının 7 Katı olmaktadır.</li><p></p>
              <li>Spor alanında : Yatırım + Bonus tutarının 5 Katı kombine minimum 2 müsabakanın 1.60 oran olması gerekmektedir.</li><p></p>
              <li>Uçak alanında : Yatırım + Bonus tutarının 10 Katı olmaktadır.</li><p></p>
              <li>Maksimum çekim tutarı Yatırım tutarının 25 Katı veya maksimum 250.000 TL olmaktadır.</li>
          </ul>
      </div>
      <div id="b11" class="content d-none">
          <h2>%30 CRYPTO YATIRIM BONUSU</h2><p></p>
          <h4>BONUS DETAYI</h4><p></p>
          <ul>
              <li>Gün içerisinde dilediği kadar yararlanabilir üyelerimiz ilgili bonustan</li><p></p>
              <li>Yatırım tutarının %30'u kadar ekleme sağlanmaktadır.</li><p></p>
              <li>İlgili bonusumuzu kullanan üyelerin Kayıp bonus hakkı mevcut olmamaktadır.</li><p></p>
              <li>İlgili bonustan yalnızca CRYPTO ile yatırım yöntemi ile yatırım sağlayan üyelerimiz yararlanabilmektedir.</li><p></p>
          </ul>
          <h4>ÇEVRİM VE ÇEKİM DETAY</h4><p></p>
          <ul>
              <li>Slot alanında : Yatırım + Bonus tutarının 7 Katı olmaktadır</li><p></p>
              <li>Spor alanında : Yatırım + Bonus tutarının 5 Katı kombine minimum 2 müsabakanın 1.60 oran olması gerekmektedir</li><p></p>
              <li>Uçak alanında : Yatırım + Bonus tutarının 10 Katı olmaktadır</li><p></p>
              <li>Maksimum çekim tutarı Yatırım tutarının 25 Katı veya maksimum 250.000 TL olmaktadır.</li><p></p>
          </ul>
      </div>
      <div id="b12" class="content d-none">
          <h2>1000 X ÇARPAN BONUSU</h2><p></p>
          <h4>BONUS DETAYI</h4><p></p>
          <ul>
              <li>Pragmatic sağlayıcısı oyunlarının 1000 versiyonunda tek ekranda yalnızca 1000X sembolünü yakalayan üyelerimiz<br>
                  yararlanabilmektedir.</li><p></p>
              <li>Bet değeri Minimum 5 TL olması gerekmektedir 1000X Sembolünün yakalandığı oyunda.</li><p></p>
              <li>Üyelerden kontrol için  ilk önce hangi oyunda yakaladığını - Bet değerini - İşlem numarasını talep etmemiz<br>
                  gerekmektedir. Bonusu hakeden üyeleri Destek mailine yönlendirmemiz gerekmektedir.</li><p></p>
              <li>İlgili bonusun çevrimi SON BONUS HARCAMA RAPORUNDAN kontrol edilmektedir.</li>
              <li><h6>5 – 100 TL arasında alınan bahislerde : 2500 TL eklenmektedir</h6></li>
              <li><h6>101 – 250 TL arasında alınan bahislerde : 5000 TL eklenmektedir</h6></li>
              <li><h6>251 TL ve üzeri arasında alınan bahislerde :10.000 TL eklenmektedir</h6></li>
          </ul>
          <h4>ÇEVRİM VE ÇEKİM DETAY</h4><p></p>
          <ul>
              <li>Eklenen ödül miktarını Yalnızca Slot alanında 15 katı çevrim şartı mevcut olmaktadır.</li><p></p>
              <li>2.500 TL ödül alan oyuncu en fazla 12.500 TL, 5.000 TL ödül alan oyuncu en fazla 25.000 TL, 10.000 TL ödül<br>
                  alan oyuncu en fazla 50.0000 TL.</li>
          </ul>
      </div>
      <div id="b13" class="content d-none">
          <h2>DOĞUM GÜNÜ BONUSU</h2><p></p>
          <h4>BONUS DETAYI</h4><p></p>
          <ul>
              <li>İlgili bonusumuzdan yararlanabilmek için sitemize üyelerin 2 ay içerisinde Minimum 1000 TL yatırımı olması<br>
                  gerekmektedir.</li><p></p>
              <li>2 Ay içerisinde 1000 TL yatırımı olan üyeleri Destek mailine kullanıcı adı + Kimlik iletmesi gerekmektedir.<br>
                  Eklemeler Canlı Destek Hattı üzerinden sağlanmamaktadır.</li><p></p>
          </ul>
          <h4>ÇEVRİM VE ÇEKİM DETAY</h4><p></p>
          <ul>
              <li>1000 TL Bakiyeyi 10.000 TL yaparak MİNİMUM / MAKSİMUM 1000TL çekim işlemi sağlanabilmektedir.</li>
          </ul>
      </div>
      <div id="b14" class="content d-none">
          <h2>FESTİVAL FREESPİNLERİ</h2><p></p>
          <h4>BONUS DETAYI</h4><p></p>
          <ul>
              <li><h6>Yatırım sağlandıktan sonraki gün eklemeler saat 12.00 / 17.00 arasında sistem tarafınca otomatik olarak sağlanmaktadır.</h6></li><p></p>
              <li>100TL - 499TL Arası yatırımlara  6 TL Bet değerinden 10 Adet</li><p></p>
              <li>499 TL - 2999TL Arası yatırımlara  6 TL Bet değerinden 20 Adet</li><p></p>
              <li>3000 TL - 9999TL  Arası yatırımlara  6 TL Bet değerinden 30 Adet</li><p></p>
              <li>10.000 TL ve üzeri yatırımlara 6 TL Bet değerinden 50 Adet</li><p></p>
          </ul>
          <h4>ÇEVRİM VE ÇEKİM DETAY</h4><p></p>
          <ul>
              <li>Slot alanında : Freespin kazancının 25 Katı olmaktadır</li><p></p>
              <li>Uçak alanında : Freespin kazancının 30 Katı olmaktadır </li><p></p>
              <li>Spor alanında : Freespin kazancının 7 Katı olmaktadır</li><p></p>
          </ul>
          <h5>Çekim Tutarları</h5>
          <ul>
              <li>10 ADET = Minimum 500 Maksimum 1000 TL</li><p></p>
              <li>20 ADET = Minimum 500 Maksimum 1500 TL</li><p></p>
              <li>30 ADET = Minimum 500 Maksimum 2500 TL</li><p></p>
              <li>50 ADET = Minimum 500 Maksimum 5000 TL</li><p></p>
          </ul>
      </div>
      <div id="b15" class="content d-none">
          <h2>HAFTALIK KAYIP BONUS</h2><p></p>
          <h4>BONUS DETAYI</h4><p></p>
          <ul>
              <li>Pazartesi saat 00.00 / Pazar saat 23.59 arasında minimum 1000 TL kaybı olan üyelerimiz yararlanabilmektedir.</li><p></p>
              <li>İlgili bonus maksimum 15.000 TL olarak eklenmektedir.</li><p></p>
              <li>Katılım sağlanan Anlık Kayıp Bonus gibi çekim esnasında bonusun düşmemesi gerekmektedir çevrim şartını<br>
                  tamamlayan üyenin bonusları düzenlenmesi gerekmektedir</li><p></p>
              <li><h6>Haftalık 1.000-3.000 TL Arası kayıplara %3 Discount</h6></li><p></p>
              <li><h6>Haftalık 3.001-10.000 TL Arası kayıplara %4 Discount</h6></li><p></p>
              <li><h6>Haftalık 10.001-15.000 TL Arası kayıplara %5 Discount</h6></li><p></p>
              <li><h6>Haftalık 15.001-50000 TL Arası kayıplara %6 Discount</h6></li><p></p>
              <li><h6>Haftalık 50.001-75.000 TL Arası kayıplara %7 Discount</h6></li><p></p>
              <li><h6>Haftalık 75.001-100.000 TL Arası kayıplara %8 Discount</h6></li><p></p>
              <li><h6>Haftalık 100.001-150.000 TL Arası kayıplara %9 Discount</h6></li><p></p>
              <li><h6>Haftalık 150.001 TL ve üzeri kayıplara %10 Discount</h6></li><p></p>
          </ul>
          <h4>ÇEVRİM VE ÇEKİM DETAY</h4><p></p>
          <ul>
              <li>Slot alanında : Eklenen bonusun 3 Katı  olmaktadır</li><p></p>
              <li>Spor alanında : Eklene bonusun 3 Katı minimum 2 müsabakanın 1.50 kombine kupon olması gerekmektedir.</li><p></p>
              <li>Uçak alanında : Eklenen bonusun 5 Katı olmaktadır.</li><p></p>
              <li>Maksimum eklenen tutarım 10 Katı kadar çekim yapılabilmektedir.</li>
          </ul>
      </div>
      <div id="b16" class="content d-none">
          <h2>ANLIK KAYIP BONUS</h2><p></p>
          <h4>BONUS DETAYI</h4><p></p>
          <ul>
              <li>500₺ - 24.999₺ arası kayıplara %20</li><p></p>
              <li>25.000₺ - 99.999₺ arası kayıplara %25</li><p></p>
              <li>100.000₺ ve üzeri kayıplara %30 eklenmektedir</li><p></p>
              <li>Yatırım bonusu almamış veya 0 Çevrim %10 yatırım bonusu alan üyelerimizin kaybı durumunda hakkedişi<br>
                  mevcut olmaktadır.</li><p></p>
              <li>Kayıp Bonus Hakedişi dün ve bugün arasında olan yatırım ve çekim arasındaki kayıba göre hesaplanmaktadır.<br>
                  Minimum 500 TL Kaybı olan üyelerimizin hakkedişi mevcut olmaktadır.</li><p></p>
          </ul>
          <h4>ÇEVRİM VE ÇEKİM DETAY</h4><p></p>
          <ul>
              <li>Maksimum eklenen bonus tutarının 20 katı kadar kazanç 19 katı kadar çekim sağlanılabilmektedir. Çekim esnasında<br>
                  Eklenen kayıp bonus düzenlenmemektedir düşülecek şekilde çekim sağlayabilir üyeler.</li><p></p>
              <li>500 TL üzeri eklenen kayıp bonuslarda katılım sağlamayan üyeler direkt olarak çekim işlemi sağlayabilir<br>
                  dilerlerse.</li><p></p>
          </ul>
      </div>
      <div id="b17" class="content d-none">
          <h2>0 RİSK %100 İADE BONUSU</h2><p></p>
          <h4>BONUS DETAYI</h4><p></p>
          <ul>
              <li>İlgili bonus sitemiz üzerinde ilk 2 yatırımını kaybeden üyelerimiz için geçerli olmaktadır.</li><p></p>
              <li>İlk yatırımını kaybeden üye anlık kayıp bonus almadan önce canlı destek hattına bağlanarak talep edebilir.<br>
                  Anlık kayıp bonus alan üyelerin hakkı mevcut olmamaktadır.</li><p></p>
              <li>İkinci yatırımını kaybeden fakat ilk yatırımında çekim işlemi sağlayan üyelerin hakkı mevcut olmamaktadır.</li><p></p>
              <li>0 ÇEVRİM %10 LİMİTSİZ - %25 LİMİTSİZ YATIRIM BONUSU almış veya hiç yatırım bonusu almamış kulanıcılar<br>
                  faydanalabilir.</li><p></p>
              <li>Minimum 100TL Maksimum 2000 TL olarak eklenmektedir.</li><p></p>
          </ul>
          <h4>ÇEVRİM VE ÇEKİM DETAY</h4><p></p>
          <ul>
              <li>Slot alanında : Eklenen bonusun 30 Katı  olmaktadır.</li><p></p>
              <li>Spor alanında : Eklene bonusun 5 Katı minimum 2 müsabakanın 1.60 kombine kupon olması gerekmektedir.</li><p></p>
              <li>Uçak alanında gerçekleştirilen çevrimler geçersiz sayılmaktadır.</li><p></p>
              <li>İlgili bonus ile maksimum çekim tutarı eklenen bonusun 20 Katı olmaktadır.</li><p></p>
          </ul>
      </div>
      <div id="b18" class="content d-none">
          <h2>ARKADAŞINI GETİR  BONUSU</h2><p></p>
          <h4>BONUS DETAYI</h4><p></p>
          <ul>
              <li>Matadorbet’e kayıtlı hesabı olan kullanıcılar arkadaşlarını davet edebilir.</li><p></p>
              <li>Davet edilen kişinin daha önce Matadorbet hesabı olmamalıdır.</li><p></p>
              <li>Arkadaş, link üzerinden kayıt olup yatırım yaptıktan sonra ödül kazanılır.</li><p></p>
              <li>İlk yatırım sonrası canlı desteğe bilgi verilmelidir (isim, soyisim, gsm, mail).</li><p></p>
              <li>Arkadaşın kayıt sonrası 3 gün içinde yatırım yapması gerekir.</li><p></p>
              <li>3 ayrı yatırım için ayrı ödül alınabilir.</li><p></p>
          </ul>
          <h5>KAZANILACAK ÖDÜLLER</h5><p></p>
          <ul>
              <li>500 – 999 TL yatırımlarda : 250 TL bonus</li><p></p>
              <li>1000 – 1499 TL yatırımlarda : 500 TL bonus</li><p></p>
              <li>1500 – 4999 TL yatırımlarda : 750 TL bonus</li><p></p>
              <li>5000 TL ve üzeri yatırımlarda : 1000 TL bonus</li><p></p>
          </ul>
          <h4>ÇEVRİM VE ÇEKİM DETAY</h4><p></p>
          <ul>
              <li>Slot alanında : Bonusun 20 katı çevrim gerekir.</li><p></p>
              <li>Spor alanında : Bonusun 3 katı çevrim gerekir (min. 1.60 oran, en az 3 maç).</li><p></p>
              <li>Canlı casinoda : Bonusun 15 katı çevrim gerekir.</li><p></p>
              <li>Uçak alanında : Bonusun 25 katı çevrim gerekir.</li><p></p>
              <li>Maksimum çekim limiti : Alınan bonusun 5 katıdır.</li><p></p>
          </ul>
      </div>
    </div>
  </div>
</div>

<style>
    :root {
        --panel-width: 400px;
        --panel-speed: 0.5s;
    }

    html, body {
        height: 100%;
        min-height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        transition: background-color 0.8s ease, color 0.8s ease;
    }

    /* Body normal mod */
    body {
        background: #f0e5d0;
        color: #333;
        overflow-y: auto;
    }

    /* --- Sol panel --- */
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: var(--panel-width);
        height: 100vh;
        overflow-y: auto; /* Kaydırılabilir */
        overflow-x: hidden;
        flex-shrink: 0;
        transition: width var(--panel-speed) ease, background-color 0.8s ease, box-shadow var(--panel-speed) ease;
        background: #0b141f;
        border-right: 1px solid #222;
        box-shadow: 0 0 15px rgba(11,20,31,0.5);
    }
    .sidebar.closed {
        width: 0;
    }

    /* --- Scroll stil - soldaki panel için --- */
    .sidebar {
        scrollbar-width: thin;
        scrollbar-color: rgba(0, 58, 134, 0.5) transparent;
    }
    .sidebar::-webkit-scrollbar {
        width: 6px;
    }
    .sidebar::-webkit-scrollbar-track {
        background: transparent;
    }
    .sidebar::-webkit-scrollbar-thumb {
        background-color: rgba(28, 22, 59, 0.5);
        border-radius: 3px;
    }

    /* --- Sol panel toggle --- */
    .toggle-btn {
        position: absolute;
        top: 5px;
        left: var(--panel-width);
        z-index: 1000;
        background-color: #0b141f;
        color: #ccc;
        border: 1px solid #1b3050;
        border-left: none;
        cursor: pointer;
        transition: left var(--panel-speed) ease, background-color 0.3s ease, box-shadow 0.3s ease;
        border-bottom-right-radius: 80px 80px;
        border-top-right-radius: 80px 80px;
        box-shadow: 0 0 15px rgba(11,20,31,0.5);
    }
    .sidebar.closed + .toggle-btn { left: 0; }

    /* --- Sağ panel --- */
    .flex-grow-1 {
        padding: 0px 20px 20px 20px;
        position: relative;
        min-height: 100vh;
        margin-left: 0;
        overflow-y: auto;
        overflow-x: hidden;
        background: #fff4e0;
        color: #333;
        transition: margin-left var(--panel-speed) ease, background 0.8s ease, color 0.8s ease, box-shadow 0.5s ease;
        box-shadow: inset 0 0 20px rgba(255,136,0,0.2);
    }
    .sidebar:not(.closed) ~ .flex-grow-1 { margin-left: var(--panel-width); }

    /* İçerik bölümü */
    .content { color: #333; background: transparent; padding: 15px; border-radius: 5px; margin-bottom: 20px; line-height: 1.6; }
    .content h2, .content h4, .content h5, .content h6 { color: #ff8800; margin-top: 1.5rem; margin-bottom: 1rem; }
    .content ul, .content li, .content p { color: #333; margin-bottom: 0.8rem; }
    .content ul { padding-left: 1.5rem; }
    .content li { margin-bottom: 0.5rem; }

    /* Başlık ve linkler */
    .brand-title { font-size: 1.5rem; font-weight: 700; padding-left: 10px; padding-top: 10px; color: #ff8800; text-shadow: 0 0 4px #ffaa33; }
    .menu-header { cursor: pointer; font-size: 1.1rem; color: #dd7700; transition: color 0.3s ease, text-shadow 0.3s ease; }
    .menu-header:hover { color: #ffaa33; text-shadow: 0 0 6px #ffbb55; }
    .menu-header.open { color: #ffaa33 !important; font-weight: 600; text-shadow: 0 0 8px #ffbb66; }
    .menu-link { display: block; padding: 4px 8px; font-size: 0.95rem; color: #dd8800; text-decoration: none; border-radius: 5px; margin-bottom: 2px; transition: background 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; }
    .menu-link:hover { background-color: rgba(255,170,51,0.25); color: #ff8800; box-shadow: 0 0 6px rgba(255,170,51,0.35); }
    .menu-link.active { background-color: rgba(255,170,51,0.2); color: #ff8800; font-weight: 600; box-shadow: 0 0 10px rgba(255,170,51,0.4); }

    /* --- Dark-mode --- */
    body.dark-mode { background: #1e1f26; }
    body.dark-mode .flex-grow-1 { background: #1e1f26; color: #e0e0e0; box-shadow: inset 0 0 15px rgba(51,154,240,0.15); }
    body.dark-mode .content { color: #e0e0e0; background: transparent; }
    body.dark-mode .content h2, body.dark-mode .content h4, body.dark-mode .content h5, body.dark-mode .content h6 { color: #77bfff; }
    body.dark-mode .content ul, body.dark-mode .content li, body.dark-mode .content p { color: #e0e0e0; }
    body.dark-mode .sidebar { background: #0b141f; border-right: 1px solid #222; box-shadow: 0 0 15px rgba(11,20,31,0.5); }
    body.dark-mode .menu-header { color: #a0a0a0; }
    body.dark-mode .menu-header:hover { color: #77bfff; text-shadow: 0 0 4px #77bfff; }
    body.dark-mode .menu-header.open { color: #77bfff !important; text-shadow: 0 0 6px #339af0; }
    body.dark-mode .menu-link { color: #b0b0b0; }
    body.dark-mode .menu-link:hover { background-color: rgba(51,154,240,0.25); color: #339af0; box-shadow: 0 0 6px rgba(51,154,240,0.3); }
    body.dark-mode .menu-link.active { background-color: rgba(51,154,240,0.2); color: #339af0; box-shadow: 0 0 8px rgba(51,154,240,0.35); }

    /* Dark-mode toggle button */
    #themeToggle { position: absolute; top: 1rem; right: 1rem; z-index: 3000; }
</style>





<script>
    const sidebar = document.getElementById("sidebar");
    const toggleBtn = document.getElementById("toggleBtn");
    const toggleIcon = document.getElementById("toggleIcon");

    toggleBtn.addEventListener("click", () => {
        sidebar.classList.toggle("closed");
        if(sidebar.classList.contains("closed")){
            toggleIcon.textContent = "»";
        } else {
            toggleIcon.textContent = "«";
        }
    });

    const links = document.querySelectorAll('.menu-link');
    links.forEach(link => {
        link.addEventListener('click', function(e){
            e.preventDefault();
            document.querySelectorAll('.content').forEach(c=>c.classList.add('d-none'));
            links.forEach(l=>l.classList.remove('active'));
            this.classList.add('active');
            const target = this.getAttribute('data-target');
            document.getElementById(target).classList.remove('d-none');
        });
    });

    const collapses = document.querySelectorAll('.collapse');
    collapses.forEach(c=>{
        c.addEventListener('show.bs.collapse', function(){
            this.previousElementSibling.classList.add('open');
            this.previousElementSibling.querySelector('.arrow').textContent = "▲";
        });
        c.addEventListener('hide.bs.collapse', function(){
            this.previousElementSibling.classList.remove('open');
            this.previousElementSibling.querySelector('.arrow').textContent = "▼";
        });
    });

    window.addEventListener('DOMContentLoaded', ()=>{
        document.querySelectorAll('.collapse').forEach(c=>{
            const arrow = c.previousElementSibling.querySelector('.arrow');
            if(c.classList.contains('show')){
                c.previousElementSibling.classList.add('open');
                arrow.textContent = "▲";
            } else {
                arrow.textContent = "▼";
            }
        });
    });

    document.getElementById('filterInput').addEventListener('keyup', function(){
        let filterValue = this.value.toLowerCase();
        let items = document.querySelectorAll(".menu-link");
        items.forEach(item=>{
            let text = item.textContent.toLowerCase();
            if(text.includes(filterValue)){
                item.parentElement.style.display="";
            } else {
                item.parentElement.style.display="none";
            }
        });
    });

    const themeToggle = document.getElementById("themeToggle");
    themeToggle.addEventListener("click", ()=>{
        document.body.classList.add("transitioning");
        setTimeout(()=>{
            document.body.classList.toggle("dark-mode");
            document.body.classList.remove("transitioning");
        }, 50);
    });
</script>

{% endblock %}
